<?xml version="1.0"?>

<config>
    <modules>
        <Giftd_GiftdCards>
            <version>0.1</version>
        </Giftd_GiftdCards>
    </modules>
    <global>
        <models>
            <giftdcards>
                <class>Giftd_GiftdCards_Model</class>
            </giftdcards>
        </models>
        <helpers>
            <giftdcards>
                <class>Giftd_GiftdCards_Helper</class>
            </giftdcards>
        </helpers>
        <blocks>
            <giftdcards><class>Giftd_GiftdCards_Block</class></giftdcards>
        </blocks>
    </global>
    <frontend>
        <routers>
            <giftdcards>
                <use>standard</use>
                <args>
                    <module>Giftd_GiftdCards</module>
                    <frontName>giftdcards</frontName>
                </args>
            </giftdcards>
        </routers>
        <translate>
            <modules>
                <Giftd_GiftdCards>
                    <files>
                        <default>Giftd_GiftdCards.csv</default>
                    </files>
                </Giftd_GiftdCards>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftdcards>
                    <file>giftdcards.xml</file>
                </giftdcards>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <giftdcards after="Mage_Adminhtml">Giftd_GiftdCards</giftdcards>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Giftd_GiftdCards>
                    <files>
                        <default>Giftd_GiftdCards.csv</default>
                    </files>
                </Giftd_GiftdCards>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftdcards>
                    <file>giftdcards.xml</file>
                </giftdcards>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <giftdcards translate="title" module="giftdcards">
                                            <title>Giftd Cards Settings</title>
                                        </giftdcards>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
