<?xml version="1.0"?>
<config>
    <sections>
        <giftdcards translate="label" module="giftdcards">
            <label>Giftd Cards</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>991</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>GiftdCards Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </settings>
            </groups>
        </giftdcards>
    </sections>
</config>
